<div>
    <form class="card">
        <div class="card-header text-dark text-center">ĐĂNG NHẬP</div>
        <div class="card-body">
            <div class="form-group">
                <div class="text-dark">Email</div>
                <input type="email" class="form-control">
            </div>
            <div class="form-group">
                <div class="text-dark">Password</div>
                <input type="password" class="form-control">
            </div>
            <div class="d-flex justify-content-center">
                <button routerLink="../student" class="btn btn-primary text-center">ĐĂNG NHẬP</button>
            </div>
        </div>
    </form>
</div>