<div style="height: 100vh;" class="d-flex justify-content-center align-items-center">
    <form (submit) = "submit(formDangNhap);" #formDangNhap = "ngForm">
        <div class="card" style="width: 18rem;">
            <div class="card-header text-center">ĐĂNG NHẬP</div> <br>
            <div class="form-group p-2 mx-2">
                <input class="form-control" type="text" placeholder="Tên Đăng Nhập" required minlength="6" [(ngModel)] = "newUser" name="newUser"  >
                <small style="color: red;" *ngIf="formDangNhap.controls.newUser?.errors?.required" class="text-center">Tên người dùng không được để trống</small>
            </div>
            <div class="form-group p-2 mx-2">
                <input class="form-control" type="password" placeholder="Mật khẩu" [(ngModel)] = "newPassword" name="newPassword" minlength="6" >
                <small style="color: red;" *ngIf="formDangNhap.controls.newUser?.errors?.required" class="text-center">Mật khẩu không được ít hơn 6 kí tự</small>
            </div>
            <div class="d-flex justify-content-center mb-3 ">
                <button [disabled] = "formDangNhap.invalid" class="btn btn-primary">Đăng Nhập </button>
            </div>        
        </div>       
    </form>
</div>
<div>
    <table class="table">
        <tr *ngFor ="let i of myservice.arrUser">
            <th>{{i.userName}}</th>
            <th>{{i.password}}</th>
        </tr>
    </table>
</div>

