 <div class=" d-flex justify-content-center">
    <div class="w-50 card">
        <div class="card-body border ">
            <form (ngSubmit) ="addStudent();"[formGroup] ="form">
                <div class="form-group">
                    <label>Mã Số Sinh Viên</label>
                    <input type="text" class="form-control" formControlName="mssv"  >
                </div>
                <div class="form-group">
                    <label>Họ và Tên</label>
                    <input type="text" class="form-control" formControlName ="ten" >
                </div>
                <div class="form-group">
                    <label>Ngày Sinh</label>
                    <input type="date" class="form-control" formControlName ="ngaysinh" >
                </div>
                <div class="form-group">
                    <label>Khoa</label>
                    <select class="form-control" formControlName ="khoa">
                        <option>Thống Kê - Tin học</option>
                        <option>Kinh Tế</option>
                        <option>Thương Mại Điện Tử</option>
                        <option>Luật</option>
                        <option>Kế Toán</option>
                        <option>Ngân Hàng</option>
                        <option>Lý Luận Chính Trị</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Chuyên Nghành</label>
                    <input type="text" class="form-control" formControlName ="chuyennghanh" >
                </div>
                <div class="form-group">
                    <label>Lớp</label>
                    <input type="text" class="form-control" formControlName ="lop" >
                </div>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary">Add Student</button>
                </div>
            </form>
        </div>
    </div>
</div>   