
            <!-- <form  > -->
                <!-- (ngSubmit)="addStudent();"  -->
            <form [formGroup] ="form">
                <div class="form-group">
                    <label>Mã Số Sinh Viên</label>
                    <input id="1" type="text" formControlName="mssv" class="form-control">
                </div>
                <div class="form-group">
                    <label>Họ và Tên</label>
                    <input type="text" class="form-control" formControlName ="ten" >
                </div>
                <div class="form-group">
                    <label>Ngày Sinh</label>
                    <input type="date" class="form-control" formControlName ="ngaysinh" >
                </div>
                <div class="form-group">
                    <label>Khoa</label>
                    <select class="form-control" formControlName ="khoa" >
                        <option *ngFor="let i of service.arrKhoa" [value]="i.khoa">{{i.khoa}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Chuyên Nghành</label>
                    <input type="text" class="form-control" formControlName ="chuyennghanh" >
                </div>
                <div class="form-group">
                    <label>Lớp</label>
                    <input type="text" class="form-control" formControlName ="lop" >
                </div>
            </form>